*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .section{
    max-width: 1440px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#logo{
    height: 70px;
    width: 100px;
}

#logo img{
    height: 100%;
    width: 100%;
}

#menu ul{
    display: flex;
    gap: 25px;
    background-color: rgb(246, 243, 243);
    padding: 12px 25px;
    border-radius: 30px;
    
}

#menu li{
    list-style: none;
    
}

#menu a{
    text-decoration: none;
    color: #000;
    display: flex;
    gap: 5px;
    padding: 8px;
}

#menu_item_button a, #menu_item_button i{
    color: #fff;
    background-color: rgb(77, 180, 250);
    border-radius: 15px;
}

#profile{
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: right;
    border: 1px solid rgb(202, 198, 198);
    border-radius: 40px;
    padding: 10px 25px;
}

#logout_icon{
    height: 80px;
    width: 80px;
    color: rgb(220, 76, 76);
    background-color: rgb(243, 195, 195);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}