@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
}

.box {
  background-color: #f0f7ff;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.box .left {
  width: 45%;
}

.box .right {
  width: 55%;
  background-color: #fff;
}

.box .left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box .left .content {
  width: 400px;
}

.box .left .content p {
  margin-top: 10px;
}

.gray-para {
  color: #555;
  font-size: 18px;
  line-height: 1.5;
}

.box .left .content .logo {
  width: 140px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 450px;
  margin: auto;
}

.light-para {
  color: #777;
  margin-bottom: 30px;
  font-size: 15px;
}

.right form .heading {
  font-size: 28px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  font-size: 16px;
}

.field input,
.field select {
  display: block;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fcfcfc;
  outline: none;
  transition: 0.2s;
  color: #333;
  font-size: 16px;
}

.field .submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background-color: #4db4fa;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

form .other {
  margin-top: 40px;
}

form .other p {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

form .other p a {
  color: #4db4fa;
  font-weight: 700;
  text-decoration: none;
}
.red-star {
  font-size: 16px;
  color: red;
}

.two-field {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.two-field .first,
.two-field .second {
  width: 100%;
}

.error-box {
  background-color: #fde8e8;
  border: 1px solid #f8b4b4;
  color: #9b1c1c;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 30px;
  text-align: center;
}

.error-text {
  font-weight: 500;
}

.success-box {
  background-color: #def7ec;
  border: 1px solid #bcf0da;
  color: #03543f;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 30px;
  text-align: center;
}

.success-text {
  font-weight: 500;
}

.error {
  color: #dc3545;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}

.hidden {
  display: none;
}
